@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.container-fluid {
  background-color: #FC7300;
}

.heading {
  position: fixed;
  top: 0;
  text-align: center;
  margin-bottom: 3rem;
  height: 100px;
  width: 100%;
}

.navbar-toggler {
  background-color: #EFF5F5;
  border-radius: 50%;
  border-style: hidden;
}

.navbar-nav a {
  color: #EFF5F5;
  background-color: #FC7300;
  font-family: "Belanosima", sans-serif;
  font-size: large;
  text-align: center;
}

.navbar-nav a:hover {
  color: #1F8A70;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2rem;
  width: 100%;
}

.ppal {
  height: 550px;
  width: 90%;
  padding: 1rem;
  text-align: center;
  background-color: #EFF5F5;
  border-color: #181823;
}
.ppal img {
  width: 100%;
  height: 450px;
  text-align: center;
}

h1 {
  color: #FC7300;
  background-color: #EFF5F5;
  font-family: "Belanosima", sans-serif;
  text-align: center;
  padding: 0.5rem;
}

h2 {
  color: #1F8A70;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.sections {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
  gap: 35px;
  height: 100%;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 2rem;
}

.info-sections {
  display: grid;
  width: 90%;
  height: 50%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 25px;
  -moz-column-gap: 75px;
       column-gap: 75px;
}

h3, h5 {
  color: #00425A;
  font-style: italic;
  text-align: center;
}

p {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-size: larger;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.gallery img {
  width: 100%;
  height: 150px;
  border-radius: 20px;
}

.gallery figure {
  align-items: center;
}

figcaption {
  font-family: "Belanosima", sans-serif;
  font-style: italic;
  text-align: center;
  color: #FC7300;
  padding: 0.5rem;
}

.info-news {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 5px;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.info-news article p {
  font-size: medium;
  width: 100%;
  justify-content: center;
  text-align: justify;
}

.img-news {
  text-align: center;
}
.img-news img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

.contact {
  align-items: flex-start;
}

.info-contact {
  display: flex;
  padding: 2rem;
  text-align: left;
  background-color: #EFF5F5;
  width: 100%;
  gap: 50px;
  align-items: center;
}
.info-contact article {
  width: 100%;
}
.info-contact .phrase {
  border: 10px solid #FC7300;
  border-radius: 50%;
}
.info-contact .phrase :hover {
  text-transform: uppercase;
}
.info-contact .phrase p {
  color: #1F8A70;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-style: italic;
  font-family: "Belanosima", sans-serif;
  border-color: #FC7300;
  font-weight: bold;
}

h4 {
  color: #1F8A70;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.mb-3 {
  font-family: "Poppins", sans-serif;
  text-align: left;
}

.form-label {
  font-family: "Belanosima", sans-serif;
  color: #1F8A70;
}

.tit-form {
  padding-top: 1rem;
  padding-bottom: 0;
  padding-left: 2rem;
}

.btn-form {
  background-color: #FC7300;
  color: #EFF5F5;
  border-radius: 40%;
  border-style: hidden;
  font-size: large;
}

footer {
  color: #EFF5F5;
  background-color: #FC7300;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  justify-content: start;
}

footer section {
  width: 80%;
  height: 100%;
  align-items: center;
  padding-top: 2rem;
  padding: 1rem;
}
footer section figure {
  text-align: center;
}
footer section p {
  text-align: center;
  font-size: small;
}
footer section img {
  height: 30px;
  width: 30px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .container {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 2rem;
    width: 100%;
  }
  .ppal {
    height: 350px;
  }
  .ppal img {
    width: 100%;
    height: 250px;
  }
  .navbar-nav a:hover {
    color: #00425A;
    text-transform: none;
  }
  .sections {
    display: flex;
    width: 100%;
    padding-top: 1rem;
    height: 100%;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .info-sections {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
    font-size: smaller;
  }
  .gallery {
    row-gap: 5px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .gallery img {
    width: 100%;
    height: 120px;
    border-radius: 15px;
  }
  figcaption {
    font-size: smaller;
  }
  .info-news {
    display: flex;
    flex-direction: column;
    width: 70%;
    row-gap: 25px;
  }
  .info-news article p {
    font-size: smaller;
    text-align: center;
  }
  .img-news {
    text-align: center;
  }
  .img-news img {
    width: 50%;
    height: 160px;
    border-radius: 15px;
  }
  .contact {
    align-items: flex-start;
  }
  .contact h2 {
    padding-top: 1rem;
  }
  .info-contact {
    padding: 1rem;
    width: 100%;
  }
  .info-contact .phrase p {
    color: #00425A;
    font-size: smaller;
    font-family: "Poppins", sans-serif;
    border-color: #FC7300;
    margin: 15px;
  }
  .form-control {
    font-size: smaller;
  }
  .phrase {
    border: 4px solid #FC7300;
  }
  h4 {
    color: #1F8A70;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .mb-3 {
    font-family: "Poppins", sans-serif;
    text-align: left;
  }
  .form-label {
    font-family: "Belanosima", sans-serif;
    color: #00425A;
  }
  .btn-form {
    background-color: #00425A;
    color: #EFF5F5;
    border-radius: 50%;
    font-size: medium;
  }
  footer {
    color: #EFF5F5;
    background-color: #FC7300;
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: start;
    font-size: medium;
  }
  footer h3 {
    font-size: medium;
  }
  footer section p {
    font-size: smaller;
  }
  footer section {
    width: 80%;
    height: 100%;
    align-items: center;
    padding-top: 2rem;
    padding: 1rem;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 2rem;
    width: 100%;
  }
  .heading {
    position: fixed;
    top: 0;
    text-align: center;
    margin-bottom: 3rem;
    height: 100px;
    width: 100%;
  }
  .navbar-toggler {
    background-color: #EFF5F5;
    border-radius: 50%;
    border-style: hidden;
    position: relative;
  }
  .navbar-nav a {
    color: #EFF5F5;
    background-color: #FC7300;
    font-family: "Belanosima", sans-serif;
    font-size: large;
    text-align: center;
  }
  .navbar-nav a:hover {
    color: #00425A;
    text-transform: none;
  }
  .ppal {
    height: 250px;
  }
  .ppal img {
    height: 180px;
  }
  .sections {
    display: flex;
    width: 100%;
    padding-top: 1rem;
    height: 100%;
    justify-content: center;
    padding-bottom: 0;
  }
  .info-sections {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
    font-size: smaller;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 50%;
  }
  .gallery img {
    width: 100%;
    height: 100px;
    border-radius: 15px;
  }
  .info-news {
    display: flex;
    flex-direction: column;
    width: 80%;
    row-gap: 25px;
  }
  .info-news article p {
    font-size: smaller;
  }
  .img-news {
    text-align: center;
  }
  .img-news img {
    width: 60%;
    height: 120px;
    border-radius: 15px;
  }
  figcaption {
    font-family: "Popins", sans-serif;
    color: #1F8A70;
    font-size: medium;
  }
  .info-contact {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: left;
    background-color: #EFF5F5;
    width: 100%;
    gap: 30px;
    height: 420px;
    align-items: center;
  }
  .info-contact article {
    width: 100%;
  }
  .info-contact .tit-form {
    text-align: center;
  }
  footer {
    color: #EFF5F5;
    background-color: #FC7300;
    display: flex;
    -moz-column-gap: 1px;
         column-gap: 1px;
    justify-content: space-around;
    font-size: smaller;
  }
  footer h3 {
    font-size: small;
  }
  footer section p {
    font-size: smaller;
  }
  footer figure img {
    width: 30%;
    height: 30%;
  }
  footer section {
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 2rem;
    padding: 1rem;
  }
  figure p {
    font-size: xx-small;
  }
  .map-responsive iframe {
    display: none;
  }
  map {
    display: none;
  }
  .tit-map {
    display: none;
  }
  h2, h4 {
    font-size: x-large;
    color: #FC7300;
    text-align: center;
    font-family: "Belanosima", sans-serif;
    padding: 0;
  }
  h2 {
    padding: 1rem;
  }
  h5 {
    color: #00425A;
    font-size: medium;
  }
  p {
    font-size: medium;
  }
  .phrase {
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */